.post {
	width: 250px;
	float: left;
	display: block;
	background: rgb(224, 224, 224);
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
}

.tag-button {
	display: block;
	float: left;
}

.tag-selected {
	background-color: green;
}
